name: inception

services:
  nginx:
    build:
      context: ./requirements/nginx
      args:
        OS_VERSION:
    image: nginx
    container_name: nginx
    environment:
      DOMAIN:
    secrets:
      - ssl_key
      - ssl_cert
    networks:
      - inception
    ports:
      - 443:443
    volumes:
      - wp-data:/var/www/html
    depends_on:
      - wordpress
    restart: always
  wordpress:
    build:
      context: ./requirements/wordpress
      args:
        OS_VERSION:
    image: wordpress
    container_name: wp-fpm
    environment:
      LOGIN:
      DOMAIN:
      DB_NAME:
      DB_USER:
      WP_ADMIN:
      WP_USER:
    secrets:
      - db_password
      - admin_password
      - user_password
    networks:
      - inception
    dns:
      - 1.1.1.1
    volumes:
      - wp-data:/var/www/html
    depends_on:
      - mysql
    restart: always
  mysql:
    build:
      context: ./requirements/mariadb
      args:
        OS_VERSION:
    image: mysql
    container_name: mariadb
    environment:
      DB_NAME:
      DB_USER:
      MYSQL_UID:
      MYSQL_GID:
    secrets:
      - db_root_password
      - db_password
    networks:
      - inception
    volumes:
      - db-data:/var/lib/mysql
    restart: always

networks:
  inception:
    name: incepnet

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      device: ${VOLUME}/db
      o: bind
  wp-data:
    driver: local
    driver_opts:
      type: none
      device: ${VOLUME}/wp
      o: bind

secrets:
  db_root_password:
    file: ../.secrets/db_root_password.txt
  db_password:
    file: ../.secrets/db_password.txt
  admin_password:
    file: ../.secrets/admin_password.txt
  user_password:
    file: ../.secrets/user_password.txt
  ssl_key:
    file: ../.secrets/self-signed.key
  ssl_cert:
    file: ../.secrets/self-signed.crt
